---
title: Förbaskade floating point precision
date: "2026-05-29"
effort: "medel"
meme: "https://preview.redd.it/damn-you-floating-point-binary-addition-youve-caused-me-v0-neebkdjnwfs71.jpg?auto=webp&s=ed49ce90b35e11766d6b909e90dad77f2e90a4e6"
---

Fokuset under denna period har varit på att få fysiken i spelmotorn att fungera. När jag påbörjade detta moment var jag lite intimiderad så jag sökte upp en tutorial: https://developer.ibm.com/tutorials/wa-build2dphysicsengine/
Tutorialen var bra, men efter ett tag insåg jag att den lösningen inte riktigt var vad jag sökte, främst då jag ville tillåta kollisioner mellan flera lösa objekt. Jag tog till MS paint och skissade upp hur jag tänkte att kollisions-detektionen skulle fungera. Därefter skrev jag en del psudo-kod innan jag skrev den faktiska koden i pyttesteg. Jag testade varje liten del och i slutändan gick hela implementeringen väldigt smidigt.
Därefter implementerade jag formlerna för spriternas hastighetsuppdatering efter en kollision. Detta verkade fungera förvånansvärt bra till en början, innan jag försökte implementera oelastiska kollisioner och sprites med oändlig massa. Resultatet blev att spritesen åkte igenom varandra.
Efter att ha kollat koden 20 gånger kom jag fram till att allt teoretisk stämde, precisionen i datorns beräkningar gjorde dock att saker blev fel när kollisionerna hamnade nära varandra. Jag bytte ut en jämförelse med 0 mot typ -0.001 på ett ställe och det verkade ha stor effekt. Tyvärr finns det fortfarande problem, buggar och oväntade beteenden, men de är inte helt uppenbara hela tiden och fysikmotorn fungerar helt okej.
Just nu verkar de flesta problemen ha att göra med hur jag beräknar kollisioner med studs, så jag får nog ta en närmare kik på det.